# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.turbo
.cache
.vite
.output
coverage

# Logs
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.local
.env.staging
.env.production
.env.*.local

# Supabase local
supabase/.branches
supabase/.temp

# OS / editor
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Typescript incremental
*.tsbuildinfo

# Vercel
.vercel

# Supabase local state
supabase/.temp
